# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/

# Vite environment files
.env
.env.local
.env.*.local

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS system files
.DS_Store
